<%- include('../partials/header') %>

<h1>Post a new Article!</h1>

<form action="/articles" method="POST">

<body>

<div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title">
<br>

<h1 class="">Description</label>
<input type="text" name="description">

<input type="submit" value="Add Article">

    
        </form>
    </div>
</body>


<%- include('../partials/footer') %>

