<%- include('../partials/header') %>

<h2>Create a new Article!</h2>
<form action="/articles" method="POST">
    <label>Title

    </label><br>
    
    <lablel>

    </lablel>






</form>




<%- include('../partials/footer') %>

