<%- include('../partials/header') %>

<h2>Post a new Article!</h2>

<label>Title:</label>
<input type="text" name="title">
<br>

<label>Description:</label>
<input type="text" name="description">

<input type="submit" value="Add Article">
</form>

<form action="/articles" method="POST">



<%- include('../partials/footer') %>

