<%- include('../partials/header') %>

<h1>Post a new Article!</h1>

<form action="/articles" method="POST">
<body>
<div class="container">

<label>Title:</label>
<input type="text" name="title">
<br>

<h1 class="">Description:</label>
<input type="text" name="description">

<input type="submit" value="Add Article">

    
</form>
</body></div>


<%- include('../partials/footer') %>

