<%- include('../partials/header') %>

<h2>Create a new Article!</h2>
<form action="/articles" method="POST">
    <label>Title:
    <input></input>
    </label><br>

    <lablel>Description:
        <input></input>
    </lablel>

</form>




<%- include('../partials/footer') %>

