<%- include('./partials/header') %>

<h1><%= title %></h1>
<p> Welcome to <%= title %> ! Like, Comment and Post content based around your favorite cryptocurrencies, blockchains and more!</p>
<%- include('./partials/footer') %>
