<%- include('./partials/header') %>

<h1><%= title %></h1>




        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#resources">Resources</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <div class="jumbotron jumbotron-fluid purple">
      <div class="container">
        <div class="row vertical-align-middle mt-5 mb-5">
          <div class="col-md-6">
            <h1 class="text-inverse">CryptoChat is a place to to put your money where your mouth is! In our website you are able to read, post & comment on articles based around your favorite cryptocurrencies. All acccounts are free and are of no charge to you!</h1>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container mt-5 mb-4">
  <div class="row">
    <div class="col-md-6">
      <p>Excellent Business Plans offers great resources that help you grow your business. Download our free templates or purchase one of many professional business plans.</p>
    </div>
    <div class="col-md-6">
      <form>
        <div class="form-group right ml-2">
          <button type="submit" class="btn btn-primary custom-button">Submit</button>
        </div>
        <div class="form-group left">
          <input type="email" class="form-control" placeholder="name@example.com">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
      </form>
    </div>
  </div>
</div>
  
    <div style="border-bottom: 1px solid #dfe3e8;">
    </div>
  
    <div class="container full-page mt-5" id="resources">
      <div class="text-center mb-5">
        <h2>Resources<h2>
      </div>
      <div class="row d-flex justify-content-between">
        <div class="col-md-4 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/images/carousel/03.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary custom-button">Read more</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/images/carousel/06.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary custom-button">Read more</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card text-center">
            <img class="card-img-top" src="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/images/carousel/10.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary custom-button">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img class="imgAbout" src="https://www.infinisource.com/images/content/hp_ourteam.png">
          </div>
          <div class="col-md-6">
            <h2>About us</h2>
            <p>Excellent Business Plans’ team of start-up and business professionals will expertly guide you through the process of facilitating growth, meeting your business goals and taking your start-up dreams and making them a reality. Our goal is to improve your business performance.<p>
            <button class="btn btn-primary">Learn more</button>
          </div>
        </div>
      </div>
    </div>
      
</body>
  
<footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</footer

<%- include('./partials/footer') %>
