<%- include('./partials/header') %>
<h1>All CryptoChat Blog Posts</h1>
<table class="stable table-bordered" >
<thead>
    <tr>
        <th scope="col">UUID</th>
        <th scope="col">BTC PRICE</th>
        <th scope="col">RANK</th>
        <th scope="col">TIER</th>
        <th scope="col">NAME</th>
        <th scope="col">PRICE</th>
        <th scope="col">SYMBOL</th>
    </tr>
</thead>
</table>

<%- include('./partials/footer') %>
