<%- include('./partials/header') %>

<h1>All CryptoChat Blog Posts</h1>
<table class="stable table-bordered" style="margin-top: 90px">
    <body>
    <thead>
    <tr>
        <th scope="col">UUID</th>
        <th scope="col">BTC PRICE</th>
        <th scope="col">RANK</th>
        <th scope="col">TIER</th>
        <th scope="col">NAME</th>
        <th scope="col">PRICE</th>
        <th scope="col">SYMBOL</th>
    </tr>
    tr>
      <th scope="row">1</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</thead>
</table>
</body>

<%- include('./partials/footer') %>
