* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: Hack, monospace;
}

 #gIcon {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}
